.container {
  text-align: center;
  padding-top: 20px;
}

mat-toolbar {
  background-color: white !important;
  color: black !important;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.github-icon {
  margin-right: 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-right: auto;
}

.spacer {
  flex-grow: 1;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

mat-card {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: none;
}

mat-card-content h2 {
  font-size: 16px;
  margin-top: 10px;
}

button {
  width: 100%;
  margin-top: 20px;
}

.status-panel {
  margin-left: auto;
  color: black;
  box-shadow: none;
  border: none;
}

mat-expansion-panel {
  background-color: #ffffff;
  box-shadow: none;
}

mat-expansion-panel-header {
  background-color: #ffffff;
  color: black;
  border-bottom: 1px solid #e0e0e0;
  height: 56px;
  display: flex;
  align-items: center;
}

mat-expansion-panel-content {
  background-color: #ffffff;
  padding: 16px;
  border: none;
}

button.mat-raised-button {
  margin-top: 10px;
  width: 100%;
  background-color: #ff5252;
  color: white;
}

button.mat-raised-button:hover {
  background-color: #ff1744;
}

.connect-heading {
  color: purple; 
  font-size: 24px;
  margin-top: 16px; 
  margin-bottom: 0; 
}
